<div style="margin-right: 80%;margin-top: -2%;">
<div class="container " style="background-color: gray;bottom: 0"><br>
  <div class="container col-md-8">
    <br><br>
<input type="button" class="container  btn btn-primary " value="Create Account" routerLink="create">
<br><br>
<input type="button" class="container  btn btn-primary " value="Show Balance" routerLink="show">
<br><br>
<input type="button" class="container  btn btn-primary " value="Deposite" routerLink="deposite">
<br><br>
<input type="button" class="container  btn btn-primary " value="Withdraw" routerLink="withdraw">
<br><br>
<input type="button" class="container  btn btn-primary " value="Fund Transfer" routerLink="fundtransfer">
<br><br>
<input type="button" class="container  btn btn-primary " value="Print Transaction" routerLink="transactions">
<br><br>
<br><br>
<br>
</div>
</div>
</div>


<router-outlet></router-outlet>
